body{
  background:-webkit-linear-gradient(to bottom,  #EF6024,#F0941F);
  background:linear-gradient(to bottom, #EF6024,#F0941F) ;
}
.bigpic{
  inline-size: 100%;
  block-size: 3000px;
}
.image-sizes {
  inline-size: 250px;
  block-size: auto;
  max-block-size: 250px;
  border-radius: 5px;
}

.father {
  block-size: 500px;
  inline-size: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.links {
  margin: 5px;
  text-decoration: none;
  color: white;
  text-align: center;
  box-shadow: 0 140% 140% rgba(0,0, 0,1);
  transition: all 0.25s;
}

.links:hover {
  transform: translateY(-15px);
  box-shadow: 0 12% 16% rgba(0,0, 0,1);
}

.image-container {
  inline-size: 100%;
  block-size: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0, 0,0.8);
}

figcaption {
  margin: 0;
  padding: 5px;
}

figure {
  justify-content: center;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  background: #373B44;
  background: -webkit-linear-gradient(to bottom,#90A19D,#196774, #363432);  
  background: linear-gradient(to bottom,#90A19D,#196774, #363432); 
}

h1.title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
